# Python and IDEs
.idea/
.vscode/
*.pyc
*.log
__pycache__/
.pytest_cache

# Packaging
dist/
build/

# Environments
env/
dist/

# Local development and testing
**local
**prove.py
**tmp.py
**tmp
notes.txt
data_to_fix/

prov_fix_failed_queries*.txt
checkpoint.json
issues_output/
failed_queries/
checkpoints/